<nav class="bg-zinc-950 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/pokemons" class="text-white text-lg font-semibold">MyApp</a>
    <div class="space-x-4">
      <a routerLinkActive="text-blue-500" routerLink="/pokemons" class="text-white hover:text-blue-500 duration-300 ease-in-out">Pokemons</a>
      <a routerLinkActive="text-blue-500" routerLink="/about" class="text-white hover:text-blue-500 duration-300 ease-in-out">About</a>
      <a routerLinkActive="text-blue-500" routerLink="/pricing" class="text-white hover:text-blue-500 duration-300 ease-in-out">Pricing</a>
      <a routerLinkActive="text-blue-500" routerLink="/contact" class="text-white hover:text-blue-500 duration-300 ease-in-out">Contact</a>
    </div>
  </div>
</nav>
