<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/about" class="text-white text-lg font-semibold">MyApp</a>
    <div class="space-x-4">
      <a routerLinkActive="text-black" routerLink="/about" class="text-white hover:text-black duration-300 ease-in-out">About</a>
      <a routerLinkActive="text-black" routerLink="/pricing" class="text-white hover:text-black duration-300 ease-in-out">Pricing</a>
      <a routerLinkActive="text-black" routerLink="/contact" class="text-white hover:text-black duration-300 ease-in-out">Contact</a>
    </div>
  </div>
</nav>
